// main {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-wrap: wrap;
    

    

// img {
//     display: block;
//     // flex-grow: 1;
//     width: 40%;


// }
//     div {
//         // flex-grow: 1;
//         display: flex;
//         flex-direction: column;
//         width: 49%;
//     }


// }


.detailsPage {

 display: flex;
 
    img {
        margin-right: 30px;
    }

    h2 {
        text-align: center;
    }

    div {
    
    }

}

