header {
    background-color:#2278CF;
    display: flex;
    justify-content: space-between;
    color: white;
    min-height: 45px;
  

    button {
        background-color: #2278CF;
        border: none;
        margin-right: 20px;
        color:white;
    }
    h1 {
        font-size: 28px;
    }

    a {
        color:white;
        margin-right: 50px;
        text-decoration: none;
    }


}


